.root{
    //-fx-background-color: #111111;
    -fx-background-image: url(assets/background.png);
    -fx-background-size: stretch;
}

.table-view {
    //-fx-background-color: transparent;
    -fx-background-image: url(assets/panel.png);
    -fx-background-size: stretch;
    //-fx-background-color: transparent;
}

.menu-bar {
    -fx-background-color: transparent;
}
.menu-bar .menu-button {
    -fx-background-image: url(assets/btnMDown.png);
    -fx-background-size: stretch;
}
.menu-bar .menu-button: hover {
    -fx-background-image: url(assets/btnMUp.png);
    -fx-background-size: stretch;
}

.menu-bar .menu-button .label {
    -fx-text-fill: black;
}
.context-menu {
    -fx-background-color: black;
}

.menu-item {
    -fx-background-image: url(assets/btnMDown.png);
    -fx-background-size: stretch;
}
.menu-item:hover {
    -fx-background-image: url(assets/btnMUp.png);
    -fx-background-size: stretch;
}
.menu-bar .menu-button .label {
   -fx-font-weight: bold;
}


.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: linear-gradient(to bottom, black, #93111111);
    -fx-background-radius: 7px 7px 0px 0px;
    -fx-background-insets: 0 11px 0 0;
    -fx-padding: 0 0 5px 0;
}
.table-view .column-header .label {
    -fx-text-fill: white;
}
.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell {
    -fx-border-color: transparent;
    -fx-text-background-color: white;
}

/*
.table-view .table-cell: hover {
    -fx-background-color: lightblue;
    -fx-text-background-color: green;
}

.table-view .table-cell: selected {
    -fx-text-background-color: green;
}
*/

.table-view .table-row-cell: hover {
    -fx-background-color: black;
}
.table-view: focused .table-row-cell:selected {
    -fx-background-color: #005797;
}

.table-row-cell: odd{
    -fx-background-color: #00000040;
}
.table-row-cell: even{
    -fx-background-color: #00000080;
}
.table-row-cell: highlight {
    -fx-background-color: #111111;
}


#btnHome {
    -fx-background-image: url(assets/btnH.png);
    -fx-background-size: stretch;
}
#btnHome:hover {
    -fx-background-image: url(assets/btnHHov.png);
    -fx-background-size: stretch;
}
#btnHome:pressed {
    -fx-background-image: url(assets/btnHDown.png);
    -fx-background-size: stretch;
}

#btnUp {
    -fx-background-image: url(assets/btnU.png);
    -fx-background-size: stretch;
}
#btnUp:hover {
    -fx-background-image: url(assets/btnUHov.png);
    -fx-background-size: stretch;
}
#btnUp:pressed {
    -fx-background-image: url(assets/btnUDown.png);
    -fx-background-size: stretch;
}

.copyBtn.button {
    -fx-background-color: transparent;
    -fx-background-image: url(assets/copyBtn.png);
    -fx-background-size: stretch;
}
.copyBtn.button: hover {
    -fx-background-image: url(assets/copyBtnHover.png);
    -fx-background-size: stretch;
}
.copyBtn.button: pressed {
    -fx-background-image: url(assets/copyBtn.png);
    -fx-background-size: stretch;
}

.copyBtnD.button {
    -fx-background-color: transparent;
    -fx-background-image: url(assets/copyBtn.png);
    -fx-background-size: stretch;
}
.copyBtnD.button: hover {
    -fx-background-image: url(assets/copyBtnHoverDownload.png);
    -fx-background-size: stretch;
}
.copyBtnD.button: pressed {
    -fx-background-image: url(assets/copyBtnDownDownload.png);
    -fx-background-size: stretch;
}

.copyBtnU.button {
    -fx-background-color: transparent;
    -fx-background-image: url(assets/copyBtn.png);
    -fx-background-size: stretch;
}
.copyBtnU.button: hover {
    -fx-background-image: url(assets/copyBtnHoverUpload.png);
    -fx-background-size: stretch;
}
.copyBtnU.button: pressed {
    -fx-background-image: url(assets/copyBtnDownUpload.png);
    -fx-background-size: stretch;
}

/*
#copyBtn: pressed {
    -fx-background-image: url(assets/copyBtnDownUpload.png);
    -fx-background-size: stretch;
}
*/
